---
layout: base.liquid
permalink: /88x31/index.html
title: "88x31 Button Information"
---
{% renderTemplate "md" %}
# 88x31
  <a href="https://dispherical.com"><img src="https://cdn.dispherical.com/88x31.png" width="88" height="31"></a>

**Feel free to hotlink!** I have unlimited bandwidth, and this way I can update the image without needing to bug you later.
```html
<a href="https://dispherical.com"><img src="https://cdn.dispherical.com/88x31.png" width="88" height="31">
</a>
```
{% endrenderTemplate %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/default.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
<script>hljs.highlightAll()</script>
