---
layout: base.liquid
permalink: /colophon/index.html
title: "Colophon"
description: "Details about this site"
---
{% renderTemplate "md" %}
# Colophon

A [colophon](https://indieweb.org/colophon) is a section which describes what makes up a site and the design ideology behind it.

This website was made to have some fun (e.g. some animations) but also be friendly to a variety of devices and older technology and to save bandwith (many resources are inlined upon compiling).

This website was made using <span id="generator">Eleventy v3.1.6</span> on my Macbook Air.
## Now playing
The "Now Playing" section my website uses Spotify. It then grabs time-synced lyrics from lrclib and does some client side math to align them to what I'm currently hearing and sends it to the user using a websocket.

## Animations

This website uses Barba.js combined with GSAP to animate pages. It's intended to look like an SPA while being made with Eleventy and Vanilla JavaScript. I hate frameworks.

## Map
This uses black and white map tyles from [CARTO](https://carto.com), rendered using MapLibre GL. Map data from [OpenStreetMaps](https://www.openstreetmap.org/copyright).

## Icons
Pulls from the website favicon. Falls back to the DuckDuckGo's cached icon if it fails.

{% endrenderTemplate %}

<script>
  document.querySelector("#generator").innerText = "{{ eleventy.generator }}"
</script>
