---
layout: base.liquid
permalink: /colophon/index.html
title: "Colophon"
description: "Details about this site"
---
{% renderTemplate "md" %}
# Colophon

A [colophon](https://indieweb.org/colophon) is a section which describes what makes up a site and the design ideology behind it.

The code behind this website is [Open source on GitHub](https://github.com/dispherical/dispherical.com), licensed under the [GNU Affero General Public License v3.0](https://www.gnu.org/licenses/agpl-3.0.en.html).

This website was made to have some fun (e.g. some animations) but also be friendly to a variety of devices and older technology and to save bandwith (many resources are inlined upon compiling).

This website was made using <span id="generator">Eleventy v3.1.2</span> on my Macbook Air.

## Now Playing
The "Now Playing" section my website uses Tasker to sync the position of the song to a server hosted on [Nest](https://hackclub.app) and grabs the details of the song from [Last.fm](https://last.fm). It then grabs time-synced lyrics from [Lrclib](https://lrclib.net/) and does some client side math to align them to what I'm currently hearing (±3 seconds).

## Animations and transitions
This website uses [Barba.js](https://barba.js.org/) combined with [GSAP](https://gsap.com/) to animate pages. It's intended to look like an SPA while being made with Eleventy and Vanilla JavaScript. I hate frameworks. 
{% endrenderTemplate %}

<script>
  document.querySelector("#generator").innerText = "{{ eleventy.generator }}"
</script>
