---
layout: base.liquid
---
<h1>
howdy, i'm dispherical
</h1>
<p>I'm also known as Reiden in some places. I'm a secondary-schooler who lives in Georgia (state of). I'm a software engineer currently learning Rust and Ruby who currently has an obsession with Bun and PHP. I'm also a big fan of city-building games, especially City: Skylines. It's currently <time id="time">some time</time> where I am.</p>
<p>I'm also a member of <a href="https://hackclub.com">Hack Club</a>.</p>

 <small style="text-decoration: underline;" id="hoveroverme">Hover over me to make the map more visible</small>
     {% renderTemplate "md" %}
## Contact
- [GitHub](https://github.com/dispherical)
- [Keyoxide](https://keyoxide.org/13DECE56E3E7D8D8DF0871FF218E881D09E8AF46l)
- [Mastodon](https://social.dino.icu/@kody)
- [Bluesky](https://bsky.app/profile/dispherical.com)
{% endrenderTemplate %}
<h2>
  Listening to
</h2>
<div class="now-playing">
  <div class="now-playing-content" style="display: flex;">
    <div class="album-art">
      <img src="https://cdn-images.dzcdn.net/images/cover/b9a0a749f03e877740c65e6c15d89610/1000x1000-000000-80-0-0.jpg" alt="Album art for Com Medo! - EP">
    </div>
    <div class="track-info">
      <div class="track-name">COM MEDO!</div>
      <div class="artist-name">Sayfalse &amp; Scythermane</div>
      <div class="album-name">Com Medo! - EP</div>
      <div class="track-lyric" id="currentLyric">...</div>
    </div>
    <img class="lastfm-icon" src="https://cdn.simpleicons.org/last.fm/black">
  </div>
  <p style="display: none;">Nothing playing right now</p>
</div>
<h2>Buttons</h2>

<a href="https://bomberfish.ca" target="_blank" class="badge"><img src="https://bomberfish.ca/buttons/button.gif" alt="BomberFish" title="BomberFish"> </a>
<a href="https://poyoweb.org/" target="_blank" class="badge"><img src="https://cdn.k0dy.xyz/assets/buttons/indieseas.png" alt="IndieSeas" title="IndieSeas"></a>
<a href="https:/hackclub.com" target="_blank" class="badge"><img src="https://cdn.k0dy.xyz/assets/buttons/hackclub.png" alt="Hack Club" title="Hack Club"></a>
<a href="https://guides.hackclub.app" target="_blank" class="badge"><img src="https://cdn.k0dy.xyz/assets/buttons/nest.png" alt="Nest" title="Nest"></a>
<script>
  {% include "js/lyrics.js" %}
</script>
<script>
  function resetTime() {
    document.querySelector("#time").innerHTML = new Date().toLocaleTimeString("en-US", { timeZone: "America/New_York", timeZoneName: "short" })
  }
  resetTime()
  setInterval(resetTime, 1000)
</script>
