---
layout: base.liquid
---
<h1>
howdy, i'm dispherical
</h1>
<p>I'm also known as Reiden in some places. I'm a secondary-schooler who lives in Georgia (state of). I'm a software engineer currently learning Rust and Ruby who currently has an obsession with Bun and PHP. I'm also a big fan of city-building games, especially City: Skylines. It's currently 6:40:04 PM EDT where I am.</p>

<h2>Buttons</h2>

<a href="https://bomberfish.ca" target="_blank" class="badge"><img src="https://bomberfish.ca/buttons/button.gif" alt="BomberFish" title="BomberFish"> </a>
<a href="https://poyoweb.org/" target="_blank" class="badge"><img src="https://cdn.k0dy.xyz/assets/buttons/indieseas.png" alt="IndieSeas" title="IndieSeas"></a>
<a href="https:/hackclub.com" target="_blank" class="badge"><img src="https://cdn.k0dy.xyz/assets/buttons/hackclub.png" alt="Hack Club" title="Hack Club"></a>
<a href="https://guides.hackclub.app" target="_blank" class="badge"><img src="https://cdn.k0dy.xyz/assets/buttons/nest.png" alt="Nest" title="Nest"></a>
